__pycache__/
*.pyc
*.pyo
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
Makefile
build/
build_opencl/
*.o
*.obj
*.a
*.so
*.dll
*.exe
*.log
*.tmp
*.swp
.DS_Store
training/tf/leelalogs/
*.tfevents.*
training/tf/networks/
